<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instructors</title>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Task name</th>
        <th scope="col">deadline</th>
        <th scope="col">taskText</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="task: ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.taskName}"></td>
        <td th:text="${task.deadline}"></td>
        <td th:text="${task.taskText}"></td>

        <td><a th:href="@{/updateTask/{id}(id=${task.id})}">
            <button>Update</button>
        </a>
        </td>

        <td><a th:href="@{/{lessonId}/{id}/deleteTask(lessonId=${lessonId}, id=${task.id})}">
            <button>Delete</button>
        </a>
        </td>

    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/tasks/{id}/addTask(id=${lessonId})}">
        <button style="font-size: 25px;"> Add Task </button>
    </a>
</div>
</body>
</html>