<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            margin-top: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input{

        }
    </style>
    <title>update-lesson</title>
</head>
<body>
<form
        action="#"
        th:action="@{/{lessonId}/{id}/saveUpdateTask(lessonId=${lessonId}, id=${task.id})}"
        th:object="${task}"
        method="post">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="taskName" th:field="*{taskName}" placeholder="Task name">
    <br><br>
    <input type="text" name="deadline" th:field="*{deadline}" placeholder="deadline">
    <br><br><input type="text" name="deadline" th:field="*{taskText}" placeholder="deadline">
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>