<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Lesson name</th>
        <th scope="col">Tasks</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="lesson: ${lessons}">
        <td th:text="${lesson.id}"></td>
        <td th:text="${lesson.lessonName}"></td>

        <td><a th:href="@{/tasks/{id}(id=${lesson.id})}">
            <button>Tasks</button>
        </a>
        </td>


        <td><a th:href="@{/updateLesson/{id}(id=${lesson.id})}">
            <button>Update</button>
        </a>
        </td>

        <td><a th:href="@{/{courseId}/{id}/deleteLesson(courseId=${courseId}, id=${lesson.id})}"
               onclick="return confirm('Are you sure to delete this lesson?')">
            <button>Delete</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/lessons/{id}/addLesson(id=${courseId})}">
        <button style="font-size: 25px;"> Add Lesson </button>
    </a>
</div>
</body>
</html>