<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            margin-top: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input{

        }
    </style>
    <title>update-lesson</title>
</head>
<body>
<form
        action="#"
        th:action="@{/{courseId}/{id}/saveUpdateLesson(courseId=${courseId}, id=${lesson.id})}"
        th:object="${lesson}"
        method="POST">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="lessonName" th:field="*{lessonName}" placeholder="lessonName">
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>