<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    <style>table,
    td {
        border: 1px solid #333333FF;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }
    tfoot {
        background-color: #333333FF;
        color: #FFFFFFFF;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Course name</th>
        <th scope="col">Duration</th>
        <th scope="col">Description</th>
        <th scope="col">Instructor</th>
        <th scope="col">Lesson</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="course: ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.duration}"></td>
        <td th:text="${course.description}"></td>



        <td><a th:href="@{/instructor/{id}(id=${course.getId()})}">
            <button>Instructors</button>
        </a>
        </td>
        <td><a th:href="@{/lesson/{id}(id=${course.getId()})}">
            <button>Lesson</button>
        </a>
        </td>

        <td><a th:href="@{/update/{id}(id=${course.id})}">
            <button>Update</button>
        </a>
        </td>
        <td><a  th:method="GET" th:href="@{/{companyId}/{id}/deleteCourse(id=${course.id},companyId=${companyId})}"
                onclick="return confirm('Are you sure to delete this course?')">
            <button>Delete</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/courses/{id}/addCourse(id=${companyId})}">
        <button style="font-size: 25px;"> Add Course </button>
    </a>
</div>
</body>
</html>