<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update-course</title>
</head>
<body>
<form
        th:action="@{/{companyId}/{id}/saveUpdateCourse(id=${course.id}, companyId=${companyId})}"
        th:object="${course}"
        method="post">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="courseName" th:field="*{courseName}" placeholder="Course Name">
    <br><br>
    <input type="text" name="duration" th:field="*{duration}" placeholder="Duration">
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>