<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    tfoot {
        background-color: #333;
        color: #fff;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="colgroup">Id</th>
        <th scope="col">Group name</th>
        <th scope="col">GroupName</th>
        <th scope="col">DateOfStart</th>
        <th scope="col">Students</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-success">
    <tr th:each="group: ${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.image}"></td>

        <td>
            <form th:method="POST"
                  th:action="@{/{courseId}/{groupId}/assignStu(courseId=${companyId}, groupId=${group.getId()})}">
                <select name="student" class="form-select form-select-sm"  aria-label=".form-select-sm example"
                        th:object="${student}"
                        th:field="*{id}">
                    <option th:each="student : ${students}"
                            th:value="${student.id}"
                            th:text="${student.firstName}">
                    </option>
                </select>
                <input type="submit" value="assign" style="height: 30px;width: 60px; background: azure"/>
            </form>
        </td>


        <td><a th:href="@{/lessons/{id}(id=${group.getId()})}">
            <button>Lessons</button>
        </a>
        </td>

        <td><a th:href="@{/update/{id}(id=${group.id})}">
            <button>Update</button>
        </a>
        </td>
        <td><a  th:method="GET" th:href="@{/{courseId}/{id}/deleteGroup(id=${group.id},courseId=${companyId})}"
                onclick="return confirm('Are you sure to delete this course?')">
            <button>Delete</button>
        </a>
        </td>
    </tr>
    </tbody>
</table>
<br><br><br><br>
<div style="text-align: center">
    <a th:href="@{/courses/{id}/addCourse(id=${companyId})}">
        <button style="font-size: 25px;"> Add Course </button>
    </a>
</div>
</body>
</html>