<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            margin-top: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        input{

        }
    </style>
    <title>update-course</title>
</head>
<body>
<form
        th:action="@{/{courseId}/{id}/saveUpdateGroup(id=${group.id}, courseId=${curseId})}"
        th:object="${group}"
        method="post">

        <input type="hidden" name="id" th:field="*{id}">

        <input type="text" name="groupName" th:field="*{groupName}" placeholder="Group name ">
        <br><br>
        <input type="text" name="dateOfStart" th:field="*{dateOfStart}" placeholder="Date Of Start">
        <br><br>
        <input type="text" name="image" th:field="*{image}" placeholder="Image">
        <br><br>
        <input type="submit" value="Add">

    </form>
    </body>
    </html>